:root{
    --bg: #F9F7F7;
    --fg: #112D4E;
    --accent: #3F72AF;
    --text: #DBE2EF;
    --box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --transition: all 0.3s ease;
    --border-radius: 15px;
    --gap: 20px;
}

body {
    background-color: var(--bg);
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    padding: 10px 30px;
    background-color: var(--fg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#header-link{
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

#header-link:hover {
    color: var(--accent);
}

#login-link{
    text-decoration: none;
    color: var(--text);
}

main {
    margin-top: 50px;
    min-height: calc(100vh - 2rem - 220px);
    padding: 20px;
    border-radius: var(--border-radius);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    background-color: var(--fg);
    margin-top: 50px;
    border-radius: 15px;
    font-size: 1rem;
    box-shadow: var(--box-shadow);
}

#copyright {
    display: inline-block;
    width: 100%;
    color: var(--fg);
    font-size: 0.8rem;
    text-align: center;

}

footer a {
    text-decoration: underline;
}


a {
    color: var(--text);
    transition: .3s;
}

a:hover{
    color: var(--accent);
}


form {
    width: 50%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    background-color: var(--accent);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

form button{
    background-color: var(--bg);
    color: var(--fg);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

form input[type=reset] {
    background-color: var(--bg);
    color: var(--fg);
    border: none;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: .3s;
}


form input[type=text], form input[type=password], form textarea {
    width: 80%;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    
}

form textarea {
    height: 200px;
    resize: none;
}

.form-header {
    font-size: 1.5rem;
    color: var(--bg);
    font-weight: bold;
}

.post a {
    color: var(--fg);
    transition: var(--transition);
}

.post a:hover {
    color: var(--accent);
}

.auth-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    background-color: var(--fg);
    color: var(--text);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 70%;
    margin-left: 15%;
}

.post-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.post p{
    border-radius: var(--border-radius);
    background-color: var(--accent);
    color: var(--text);
    padding: var(--gap);
    font-size: 1.2rem;
    width: 60%;
    margin-left: 20%;
}

.post-group{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.post-group a {
    text-decoration: underline;
    color: var(--text);
    font-weight: bold;
    transition: .3s;
}

.post-preview {
    background-color: var(--accent);
    color: var(--text);
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    margin-top: var(--gap);
    border-radius: var(--border-radius);
}

.post-preview a:hover {
    color: var(--fg);
}

.pagination {
    color: var(--text);
    width: 50%;
    margin-left: 25%;
    border-radius: var(--border-radius);
    padding: var(--gap);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    margin-top: var(--gap);
}

.pagination a {
    display: inline-block;
    height: 25px;
    text-align: center;
    line-height: 25px;
    padding: 0 10px;
    border-radius: var(--border-radius);
    background-color: var(--accent);
    color: var(--text)
}