{% extends "base.html" %}

{% block title %} Добавить пост {% endblock %}


{% block main %} 
    <form action="/blog/add_post" method="post">
        <span class="form-header">Добавить пост</span>
        <input type="text" name="title" placeholder="Заголовок поста" value="{{ old_title }}" required>
        <textarea name="content" placeholder="Содержание поста" required>{{ old_content }}</textarea>
        <span style="color: red;">{{ form_error }}</span>
        <button type="submit">Добавить пост</button>
        <input type="reset" value="Очистить">
    </form>
{% endblock %}