{% extends "base.html" %}

{% block title %} Пост блога {% endblock %}


{% block main %} 
<div class="post">
    <span class="post-title">{{ post.title }}</span>
    <p class="post-content">{{ post.content }}</p> 
    <div class="post-group">
        <span class="post-date">Создан: {{ post.created_at.strftime('%Y-%m-%d')}}</span>
        <span class="post-date">Обновлен: {{ post.updated_at.strftime('%Y-%m-%d')}}</span> 
    </div>
    <div class="post-group">
        <a href="/blog/update_post/{{ post.id }}">обновить</a>
        <a href="/blog/delete/{{ post.id }}">удалить</a>
    </div>
</div>


{% endblock %}