<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Index {% endblock %}</title>

    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
<header>
    <a id="header-link" href="/">Blog</a>
    {% if username %}
        <div class="auth-block">
            <span id="user-name" style="color: white;">Привет, {{ username }}!</span>
            <a href="/user/logout" id="logout-link">Logout</a>
        </div>
        
    {% else %}
        <div class="auth-block">
            <a href="/user/login" id="login-link">Login</a>
            <a href="/user/register" id="login-link">Register</a>
        </div>
    {% endif %}
</header>

<main>
    {% block main %} 
        <h1>Index page</h1>
    {% endblock %}
</main>

<footer>
    <a href="/blog/add_post">Add post</a>
    <a href="/user">User list</a>
</footer>
<span id="copyright">© 2025 Dima, Inc.</span>
</body>
</html>
