{% extends "base.html" %}

{% block title %} Авторизация {% endblock %}


{% block main %} 
    <form action="/user/login" method="post">
        <span class="form-header">Войти в Блог</span>
        <input type="text" name="username" placeholder="Имя пользователя" value="{{ old_username }}" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <span style="color: red;">{{ form_error }} </span>
        <button type="submit">Войти</button>
        <input type="reset" value="Очистить">
    </form>
{% endblock %}